/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    color: #ffb300;
}

h2 {
    color: #ffb300;
}

input, button, select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #888;
    background-color: #555555;
    color: white;
}

input[type="text"], input[type="number"], input[type="datetime-local"], select {
    width: 100%;
}

button {
    cursor: pointer;
    background-color: #ffb300;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

button:hover {
    background-color: #e6a800;
}

.animated-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 10px 20px;
    background-color: #ffb300;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.text {
    position: relative;
    z-index: 1;
}

/* Vendor Selection */
#vendorSelect {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #888;
    border-radius: 6px;
    font-size: 16px;
    background-color: #555555;
    color: white;
}

input[type="text"]#customVendor {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #888;
    border-radius: 6px;
    font-size: 16px;
    background-color: #555555;
    color: white;
}

#selectedVendors {
    list-style-type: none;
    padding: 0;
}

#selectedVendors li {
    background-color: #555555;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
}

/* Notifications and Events */
#eventList ul {
    list-style-type: none;
    padding: 0;
}

#eventList li {
    background-color: #555555;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
}

#eventList .deleteEvent {
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

#eventList .deleteEvent:hover {
    background-color: #ff4d4d;
}

#expenseList li {
    background-color: #555555;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
}
